# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4
    - run: |
          ./.tools/update-version.ps1 -RepoDirectory "${{ github.workspace }}" -Version "1.0.${{ github.run_number }}.0" -Hash "${{ github.sha }}"
      name: update version
      shell: pwsh  
    - name: setup .net
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
    - name: restore dependencies
      run: dotnet restore
    - name: build
      run: dotnet build --no-restore
    - name: test
      run: dotnet test --no-build --verbosity normal
    - run: |
          ./.tools/push-nuget.ps1 -RepoDirectory "${{ github.workspace }}" -ApiKey " ${{ secrets.NUGET_API_KEY }}"
      name: push nuget packages
      shell: pwsh  
